.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


.registerForm > label {
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color: #fff;
    border: none;
    border-bottom:1px solid ;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.registerRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}